name: juce-utils Actions
on: [push]
jobs:
  Package:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build
          python -m build
      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: package-artifacts
          path: dist/*
